@page "/editor"

<div id="container" style="width:1024px;height:600px;border:1px solid grey"></div>
<button class="btn" @onclick="Run">Run</button>
<br />
<textarea @bind="Output" rows="10" cols="120"></textarea>