@page "/"

<section>
    <div class="row">
        <div class="col-12">
            <h1>Available examples</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ExamplesList />
        </div>
    </div>
</section>
