@page "/"

<section>
    <div class="card" style="margin-top: 20px;">
        <header>
            <h4>Example1</h4>
        </header>
        <p>Description</p>
    </div>
</section>

<section>
    <div class="row">

        <div class="col">
            <nav class="tabs is-left">
                <a href="#File">File</a>
            </nav>
            <section id="features">
                <div class="card">
                    <ul>
                        <li>📁&nbsp; File</li>
                        <li>📁&nbsp; File</li>
                        <li>📁&nbsp; File</li>
                        <li>📁&nbsp; File</li>
                    </ul>
                </div>
            </section>
            <a href="/editor" class="button primary">Go to editor</a>
        </div>

        <div class="col-8">
            <TabControl>
                <TabPage Text="Terminal">
                    <div id="terminal"></div>
	            </TabPage>
	            <TabPage Text="Code">
 <figure class="highlight">
                        <pre>
                        <code class="language-html" data-lang="html">
<span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"nav"</span><span class="nt">&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"nav-left"</span><span class="nt">&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"brand"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Brand<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tabs"</span><span class="nt">&gt;</span>
<span class="nt">&lt;a&gt;</span>Link 1<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;</span>Link 2<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"nav-right"</span><span class="nt">&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"button outline"</span><span class="nt">&gt;</span>Button<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/nav&gt;</span>
                        </code>
                    </pre>
                    </figure>
                </TabPage>
	            <TabPage Text="Log">
                    <textarea rows="10" cols="120">
                        dotnet.exe' (CoreCLR: clrhost): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.1.9\System.Linq.Expressions.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'dotnet.exe' (CoreCLR: clrhost): Loaded 'C:\Users\Admin\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\3.2.1\tools\Microsoft.AspNetCore.Diagnostics.Abstractions.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'dotnet.exe' (CoreCLR: clrhost): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.1.9\System.Security.Cryptography.X509Certificates.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'dotnet.exe' (CoreCLR: clrhost): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.1.9\System.Security.Cryptography.Primitives.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'dotnet.exe' (CoreCLR: clrhost): Loaded 'C:\Users\Admin\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\3.2.1\tools\Microsoft.Net.Http.Headers.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
                    </textarea>
                </TabPage>
            </TabControl>
        </div>

    </div>
</section>
