@page "/"

<section>
    <div class="card" style="margin-top: 20px;">
        <header>
            <h4>Example1</h4>
        </header>
        <p>Description</p>
    </div>
</section>

<section>
    <div class="row" style="margin-top: 20px; height: 500px">
        <div class="col">
            <div class="card">
                <p>File</p>
            </div>
            <div class="card" style="height: 400px">
                <p>File 1</p>
            </div>
        </div>
        <div class="col">
            <nav class="nav">
                <div class="nav-left">
                    <a>Link 1</a>
                    <a>Link 2</a>
                </div>
            </nav>

            <div class="card" style="height: 400px">
                <p>Select....</p>
            </div>
        </div>
    </div>
</section>
