@page "/"

<section>
    <div class="row">
        <div class="col-12">
            <h1>Available examples</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ExamplesList />
        </div>
    </div>
</section>

@code
{
    [Inject] private IToastService ToastService { get; init; } = default!;


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ToastService.ShowInfo("I'm an INFO message", "Welcome");
            ToastService.ShowSuccess("I'm an success message", "Welcome");
            ToastService.ShowWarning("I'm an warning message", "Welcome");
            ToastService.ShowError("I'm an error message", "Welcome");
        }
    }
}
