@page "/"

<section>
    <div class="card" style="margin-top: 20px;">
        <header>
            <h4>Example1</h4>
        </header>
        <p>Description</p>
    </div>
</section>

<section>
    <div class="row">

        <div class="col-12">
            <ExamplesList />
        </div>

    </div>
</section>
