@page "/terminal"

<section>
    <div class="row">

        <div class="col">
            <nav class="tabs is-left">
                <a href="#File">File</a>
            </nav>
            <section id="features">
                <div class="card">
                    <ul>
                        <li>📁&nbsp; File</li>
                        <li>📁&nbsp; File</li>
                        <li>📁&nbsp; File</li>
                        <li>📁&nbsp; File</li>

                    </ul>
                </div>
            </section>
            <a href="/" class="button primary">Go to Start page</a>
        </div>

        <div class="col-8 ">
            <TabContainer>
                <Tab Text="Terminal">
                    @*<XTerm TerminalId="terminal" Options="_options" OnKey="@OnKeyPress" OnLineFeed="@OnLineFeed" @ref="_terminal" HelloMessage="----- Hello, Blazor Terminal!!! -----" />*@
                    <XTerm />
                </Tab>
            </TabContainer>
        </div>

    </div>
</section>
