@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                IconType="IconType.FontAwesome"
                Timeout="10"
                ShowProgressBar="true"
                InfoClass="bg-accent"
                SuccessClass="bg-primary"
                ErrorClass="bg-error"
                WarningClass="bg-warning"
                RemoveToastsOnNavigation="false" />

@*
    InfoIcon="fas fa-info fa-xs"
    SuccessIcon="fas fa-check fa-xs"
    ErrorIcon="fas fa-bug fa-xs"
    WarningIcon="fas fa-exclamation fa-xs"
*@

<div class="container container-bg">
    <PageHeader />

    <main>
        @Body
    </main>
</div>

<PageFooter />
<TopScroller />