@if (!IsInitialized)
{
    <div class="row">
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <WaveLoader IsAlternativeColor="true" />
        </div>
    </div>
}

<div id="container" style="height: 50vh;"></div>
