<section id="features">
    <div class="card">
        <ul>
            <li>📁&nbsp; File</li>
            <li>📁&nbsp; File</li>
            <li>📁&nbsp; File</li>
            <li>📁&nbsp; File</li>
        </ul>
    </div>
</section>

@code {
    [Parameter]
    public string? Root { get; init; }

    [Parameter]
    public string[]? SrcFiles { get; init; }
}
