
<header class="container">
    <div class="hero is-full-screen">
        <div class="logo is-center is-vertical-align">
            <div class="row is-center">
                <div class="col-9-lg col-10-md col-11">
                    <img src="./assets/images/typin-examples-logo/typinexamples-logo-512px.png" alt="Logo">
                </div>
            </div>

            <h3>A <strong>Typin</strong> interactive examples page.</h3>
            <small><em>Typin is pronounced as "Typin" == "Type interactively"</em></small>
        </div>
        <nav class="tabs is-center">
            <a class="active text-primary" href="#dosc1">Example1</a>
            <a href="#dosc2">Example2</a>
            <a href="#docs3">Example3</a>
            <a href="#docs4">Example4</a>
            <a href="#docs5">Example5</a>
            <a href="#docs6">Example6</a>
            <a href="https://github.com/adambajguz/Typin">GitHub</a>
        </nav>
    </div>
</header>