<header>
    <div class="hero is-full-screen">
        <div class="logo is-center is-vertical-align">
            <div class="row is-center">
                <div class="col-9-lg col-10-md col-11">
                    <img src="./assets/images/typin-examples-logo/typinexamples-logo-512px.png" alt="Logo">
                </div>
            </div>

            <h3>A <strong>Typin</strong> interactive examples page.</h3>
            <small><em>Typin is pronounced as "Typin" == "Type interactively"</em></small>
        </div>
        <nav class="tabs is-center">
            <a class="active text-primary" href="/">Examples</a>
            <a href="/editor">Code Edit</a>
            <a href="https://github.com/adambajguz/Typin">GitHub</a>
            <a href="https://github.com/adambajguz/Typin/wiki">Wiki</a>
        </nav>
    </div>
</header>