<CascadingValue Value="this">

    <nav class="tabs tabs-bg is-full">
        @foreach (Tab tab in Tabs)
        {
            <a class="text-uppercase @(tab == Active ? "active" : string.Empty)"
               @onclick="( () => Active = tab )">
                @tab.Text

                @tab.TabContent
            </a>
        }
    </nav>

    @ChildContent
</CascadingValue>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; init; }

    public Tab? Active { get; set; }
    protected List<Tab> Tabs = new List<Tab>();

    public void AddTab(Tab tab)
    {
        Tabs.Add(tab);

        if (Tabs.Count == 1)
        {
            Active = tab;
        }

        StateHasChanged();
    }
}