<button @onclick="Click">Run</button>
<p>@Result</p>

<button @onclick="Click2">Cancel</button>
<p>@Result2</p>

@code {

    [Inject] TypinExamples.Infrastructure.WebWorkers.Abstractions.IWorkerFactory WorkerFactory { get; init; } = default!;

    private string Result = string.Empty;
    private string Result2 = string.Empty;

    TypinExamples.Infrastructure.WebWorkers.Abstractions.IWorker? Worker { get; set; }

    async Task Click()
    {
        // Create worker.
        Result2 = "Initializing...";
        Worker = await WorkerFactory.CreateAsync<WebWorkerStartup>();
        Result2 = "Running...";
        StateHasChanged();

        int exitCode = await Worker.RunAsync();
        Result = exitCode.ToString();
        StateHasChanged();

        await Task.Delay(2000);
        await Worker.NotifyAsync(new WorkerTestNotification { Value = "abc" });
        await Worker.CallCommandAsync(new WorkerTestCommand { Value = "xyz" });
        Result += "xyz";
        StateHasChanged();

        await Task.Delay(2000);
        Result2 = "Disposing...";
        StateHasChanged();

        await Task.Delay(2000);
        await Worker.DisposeAsync();
        Worker = null;
        Result2 = "Disposed.";
    }

    async Task Click2()
    {
        // Create worker.
        if (Worker is not null)
        {
            Result2 = "Cancelling...";
            await Worker.CancelAsync();
            Result2 = "Cancelled.";
        }
    }
}
