<button @onclick="Click">Run</button>
<p>@Result</p>

<button @onclick="Click2">Cancel</button>
<p>@Result2</p>

@code {

        [Inject] TypinExamples.Infrastructure.WebWorkers.Abstractions.IWorkerFactory WorkerFactory { get; init; } = default!;

    private string Result = string.Empty;
    private string Result2 = string.Empty;

    TypinExamples.Infrastructure.WebWorkers.Abstractions.IWorker? Worker { get; set; }

    async Task Click()
    {
        // Create worker.
        Worker = await WorkerFactory.CreateAsync<WebWorkerStartup>();
        int exitCode = await Worker.RunAsync();
        Result = exitCode.ToString();
        StateHasChanged();
        await Worker.DisposeAsync();
    }

    async Task Click2()
    {
        // Create worker.
        if (Worker is not null)
        {
            await Worker.CancelAsync();
        }
    }
}
