<div data-example-key="@ExampleKey">
    @if (!IsInitialized)
    {
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <WaveLoader IsAlternativeColor="true" />
            </div>
        </div>
    }

    @*<div class="@(IsInitialized ? string.Empty : "is-hidden")">*@
        <div id="@Id" @attributes="InputAttributes"></div>
    @*</div>*@
</div>