<div>
    @if (!IsInitialized)
    {
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <WaveLoader IsAlternativeColor="true"/>
            </div>
        </div>
    }

    <div id="@Id" data-example-key="@ExampleKey" @attributes="InputAttributes"></div>
</div>