@inherits LayoutComponentBase

<header class="container">
    <PageHeader />
</header>

<main class="container container-bg">
    @Body
</main>

<footer class="footer-bg is-text-center">
    <PageFooter />
</footer>
