@inherits LayoutComponentBase

<p>
    <a href="#top">🔝 Back to top</a> •
    <a href="https://github.com/adambajguz/Typin/issues">🐛 Report an issue</a>
</p>

<h5>
    Made by
    <a href="https://github.com/adambajguz/" target="_blank">Adam Bajguz</a>,
    <a href="https://github.com/Hamis132" target="_blank">Paweł Halicki</a>,
    <a href="https://github.com/michal0929" target="_blank">Michał Kierzkowski</a> &amp;
    <a href="https://github.com/speednow" target="_blank">Alan Bednarczyk</a>
</h5>
