@inherits LayoutComponentBase

<div class="hero is-full-screen">
    <div class="logo is-center is-vertical-align">
        <img src="./assets/images/typinexamples-logo-480px.png" alt="Logo">
        <h3>A <strong>Typin</strong> interactive examples page.</h3>
        <small><em>Typin is pronounced as "Typin" == "Type interactively"</em></small>
    </div>
    <nav class="tabs is-center">
        <a href="#dosc">Example1</a>
        <a href="#dosc">Example2</a>
        <a href="#docs">Example3</a>
        <a href="#docs">Example4</a>
        <a href="#docs">Example5</a>
        <a href="#docs">Example6</a>
        <a href="https://github.com/adambajguz/Typin">GitHub</a>
    </nav>
</div>
