@page "/"

<div class="container">
    <div class="hero is-full-screen">
        <div class="logo is-center is-vertical-align" style="margin-top: 20px;">
            <img src="https://raw.githubusercontent.com/adambajguz/Typin/master/.img/typin-logo-512px.png" height="400">

        </div>
        <div class="is-center">
            <h3>A <strong>Typein</strong> interactive examples page</h3>
        </div>
        <div class="is-center" style="margin-top:-10px; margin-bottom:20px;">
            <small><em>Typin is pronounced as "Type in" == "Type interactively"</em></small>
        </div>
        <nav class="tabs is-center">
            <a href="#dosc">Example1</a>
            <a href="#dosc">Example2</a>
            <a href="#docs">Example3</a>
            <a href="#docs">Example4</a>
            <a href="#docs">Example5</a>
            <a href="#docs">Example6</a>
            <a href="#docs">Example7</a>
            <a href="#docs">Example8</a>
            <a href="https://github.com/adambajguz/Typin">GitHub</a>
        </nav>




    </div>
    <div class="card" style="margin-top: 20px;">
        <header>
            <h4>Example1</h4>
        </header>
        <p>Description</p>
    </div>
    <div class="row" style="margin-top: 20px; height: 500px">
        <div class="col">
            <div class="card">
                <p>
                    <span class="tag">File</span>
                </p>
            </div>
            <div class="card" style="height: 400px">
                <p>File 1</p>
            </div>
        </div>
        <div class="col">
            <nav class="card">
                <p>
                    <span class="tag">Code</span>
                    <span class="tag">Log</span>
                </p>
            </nav>

            <div class="card" style="height: 400px">
                <p>Select....</p>
            </div>
        </div>

    </div>
    <nav class="tabs is-center" >
        <a class="button outline primary ">Prev</a>
        <a class="button outline primary ">Edit</a>
        <a class="button outline primary ">Next</a>
    </nav>

    <footer class="is-center" margin-top: 20px;>
        <p><h5>Made by <a href="https://github.com/adambajguz/" target="_blank">Adam Bajguz</a></h5></p>
    </footer>

</div>

