div.wave-loader {
    position: relative;
    text-align: center;
    width: 100px;
    margin: 0.5rem auto 0.5rem auto;
}

    div.wave-loader > .dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 3px;
        background: var(--color-accent);
        animation: wave 1.3s linear infinite;
    }

        div .wave-loader > .dot:nth-child(2) {
            animation-delay: -1.1s;
        }

        div .wave-loader > .dot:nth-child(3) {
            animation-delay: -0.9s;
        }


@keyframes wave {
    0%, 60%, 100% {
        transform: initial;
    }

    30% {
        transform: translateY(-15px);
    }
}
