@import "../frameworks/chota/dist/chota.min.css";
@import "../frameworks/xterm/xterm.min.css";

@import "c-dots-wave-loader.css";
@import "code-highlight.css";
@import "img-zoom-in-out.css";
@import "custom-scrollbars.css";

@import "c-top-scroller.css";
@import "c-box.css";
@import "c-tabs.css";
@import "m-header.css";
@import "m-footer.css";

body.dark {
    /*Chota overrides*/
    --bg-color: #080a0a;
    --bg-secondary-color: #082542;
    --page-column-bg-color: #0f3952;
    --font-color: #f5f5f5;
    --color-grey: #bbb;
    --color-darkGrey: #777;
    --color-primary: #17c16f;
    --color-error: #ea4f4f;
    --color-accent: #00d5ff;
}

.container {
    padding: 0;
}

    .container.container-bg {
    }

        .container.container-bg main {
            padding: 3rem;
            margin-bottom: 3rem;
            background-color: var(--page-column-bg-color);
        }

.card {
    box-shadow: none;
    border-radius: 0;
}

section {
    margin: 5rem auto;
}

#features ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
    font-weight: 200;
}

hr {
    margin: 3rem 0;
}

#grid .card {
    padding: 1rem 0rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: rgba(26, 159, 96, 0.2);
    font-size: 1.2rem;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .buttons > * {
        margin: 0.5rem;
    }

    .buttons > .button + .button {
        margin-left: 0.5rem;
    }

.tag.new-example-tag {
    margin-right: 1rem;
}
